{
        "Login": ""
        "DiscordRoles": {
                "S1Command": "",
                "S6": ""
        }
        "GoogleSheets" {
                "SheetID": "",
                "Range": ""
        }
}
