{
        "Login": ""
        "DiscordRoles": {
                "S1Command": "",
                "S6": ""
        },
        "GoogleSheets": {g
                "SheetID": "",
                "Range": ""
        }
}
